@charset "UTF-8";
/* CSS Document */

/*
Colors:
Main Brown = #733E30
Grayer Brown = #8C7C77
Lighter Brown = #8C6E5C
Green = #0C9100
C7000A

*/


html, body
{
	height: 100%;
	width: 100%;
	margin: auto;	
	font-size: 100%;
	font-family: 'Century Gothic' sans-serif;
	background-color: #C7000A;
}

#container
{
	height: 100%;
	width: 80%;
	margin: auto;
	background-color: #FFF;
	border-left: 4px solid #0C9188;
	border-right: 4px solid #0C9188;
}

#nav
{
	height: 6%;
	background-image: url(gradient.png);
	background-size: 100% 100%;
	width: 100%;
	font-family: sans-serif;
/*	box-shadow: 0px 0px 20px #000;*/
	margin: auto;
	z-index: 1;
}
	
#nav table
{
	color: #FFF;
	padding-top: 10px;
	padding-bottom: 10px;
	list-style-type: none;
	letter-spacing: 1px;
}
	
#nav td a
{
	font-size: 110%;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	color: #FFF;
}
	
#nav td a:hover
{
	color: #000;
}

#nav li a:active
{
	color: black;
}

#header
{
	width: 100%;
	height: 25%;
	font-weight: bold;
	font-style:italic;
	margin: auto;
	text-align:center;
}

#header p
{
	margin: auto;
}

#header h1
{
	color: #733E30;
	font-size: 600%;
	margin: auto;
}

#motto
{
	float: left;
	width: 100%;
	margin: auto;
	font-style: italic;
	color: #8C6E5C;
	font-size: 125%;
	height: 5%;
	text-align: center;
	padding-left: 5px;
}

#motto table
{
	width: 50%;
	height: 100%;
	margin: auto;
	float: left;
}

#welcome
{
	background-color: #C7000A;
	border: 1px solid #C70009;
	color: #FFF;
	border-radius: 10px;
	width: 50%;
	height: 57%;
	margin: auto;
	text-align: center;
	font-size: 175%;
	padding: 1%;
	box-shadow: 5px 5px 15px #000;
}

#welcome p 
{
	margin: auto;
}