@charset "UTF-8";
/* CSS Document */

/*
Colors
Solid Brown: #733E30
Grayer Brown: #8C7C77
Lighter Brown: #8C6E5C
Green: #0C9100
Red: #CC0000
Khaki: #CC9966
Coffee: #97694F
U of D Maroon: #990000
*/

html body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-family: sans-serif;
}

#nav{
		width: 105%;
		font-family: sans-serif;
		box-shadow: 0px 0px 20px #000;
		margin-top: -1.25%;
		margin-right: -3%;
		margin-left: -1.25%;	
	}
	
#nav ul{
		background-color: #733E30;
		color: white;
		padding-top: 10px;
		padding-bottom: 10px;
		list-style-type: none;
		letter-spacing: 1px;
	}
	
#nav ul li{
	display: inline;
	font-size: 15px;
	}
	
#nav ul li a{
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	}
	
#nav li a:hover{
	color: #8C7C77;
	}

#nav li a:active{
	color: black;
}
		
#header{
		height: 10%;
		width: 100%;
		font-weight: bold;
		font-size: 50px;
		color: #733E30;
		padding-top: 0px;
		padding-left: 0px;
		background-color: white;
	}

#header h1{
	padding-top: 40px;
	padding-left: 40px;
	float: left;
	font-style: italic;
}

#header img{
	float: right;
}

#header h2{
	font-style: italic;
	color: #8C6E5C;
	word-spacing: 10px;
	font-size: 20px;
	float: left;
}

#motto
{
	width: 50%;
	font-size:50%;
	font-style: italic;
}

#main{
	height: 65%;
	font-size: 17px;
	font-family: sans-serif;
	text-align: center;
	width: 100%;
	float: right;
	}


#welcome{
	width: 50%;
	float: left;
}

#welcome img{
	float: left;
	width: 150px;
	height:200px;
	padding-right: 10px;
}

#welcome p{
	text-align: left;
	padding-left: 10px;
}

#testimonials{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}