@charset "UTF-8";
/* CSS Document */

/*
Colors
Solid Brown: #733E30
Grayer Brown: #8C7C77
Lighter Brown: #8C6E5C
Green: #0C9100
Red: #CC0000
Khaki: #CC9966
Coffee: #97694F
U of D Maroon: #990000

*/

@font-face
{
	font-family: Gabriel Serif;
	src:url(../Fonts/Gabriel%20Serif%20Bold.ttf);
}

@font-face
{
	font-family: Adrogyne;
	src:url(../Fonts/Androgyne_TB.otf);	
}

a
{
	text-decoration: none;	
}

html, body
{
	height: 100%;
	width: 100%;
	margin: auto;	
	font-size: 100%;
	font-family:Adrogyne;
	background-color: #97694F;
	z-index: auto;
}

#container
{
	min-height: 100%;
	width: 80%;
	margin: auto;
	background-color: #FFF;
	border-left: 5px solid #990000;
	z-index: auto;
}

#nav
{
	height: 6%;
	width: 100%;
	font-family: sans-serif;
/*	box-shadow: 0px 0px 20px #000;*/
	margin: auto;
	background-image:url(swiftgradientright.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: auto;

}
	
#nav table
{
	color: #FFF;
	padding-top: 10px;
	padding-bottom: 10px;
	list-style-type: none;
	letter-spacing: 1px;
}
	
#nav td a
{
	font-size: 110%;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
		color: #CC0000;
}
	
#nav td a:hover
{
	color: #000;
}

#nav li a:active
{
	color: black;
}

#header
{
	height: 10%;
	width: 100%;
	font-weight: bold;
	font-style:italic;
	margin: auto;
	text-align: center;
}

#header h1
{
	color: #97694F;
	font-size: 650%;
}

#motto
{
	float: left;
	width: 100%;
	margin: auto;
	font-style: italic;
	color: #8C6E5C;
	font-size: 125%;
	height: 5%;
	text-align: center;
	padding-left: 5px;
}

#motto table
{
	width: 50%;
	height: 100%;
	margin: auto;
	float: left;
}

#sherry
{
	width: 400px;
	height: 500px;
	float: left;
	margin: auto;
	margin-left: 25px;
	background-color: #000;
}

#sherry img
{
	width: 100%;
}

#content
{
	background-color: #CC0000;
	color: #FFF;
	border-radius: 10px;
	width: 52%;
	height: 57%;
	margin: auto;
	text-align: center;
	font-size: 175%;
	padding: 1%;
	box-shadow: 5px 5px 15px #000;
	float: right;
	margin-right: 25px;
}

#content p 
{
	font-family: 'Century Gothic', Sans Serif;
	margin: auto;
}